.tree-node-selected {
  background-color: transparent;
  color: white;
  width: 100%;
}
.selected-background {
  background-color: grey;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  z-index: -1;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role='group'] {
  padding-left: 30px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role='group'] > .mat-tree-node {
  padding-left: 0px;
  width: 100%;
}

.example-tree {
  background-color: transparent;
}

.tree-button {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 0px;
}

.button-icon {
  float: right;
}

.tree-node {
  width: 100%;
  padding-right: 20px;
}
